.square
{
    background: #fff;
    border: 0.05em solid #999;
    float: left;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
    height: 13svh;
    margin-right: -0.1em;
    margin-top: -0.1em;
    padding: 0;
    text-align: center;
    width: 13svh;
}
.board-row:after
{
    clear: both;
    content: '';
    display: table;
}
.status
{
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
}
.game0
{
    display: flex;
    flex-direction: row;
}

.game-info
{
    margin-left: 2em;
    color: white;
    font-size: 2em;
    margin-top: 1em;
}

.game-info button
    {
        height: 6svh;
        width: 20svw;
        font-size: 0.8em;
        border-radius: 1em;
        background-color: #fff;
    }

@media (width <= 480px)
{
    .game0
    {
        flex-direction: column;
    }
    .game-info
    {
        margin: 0;
        color: white;
        font-size: 2em;
    }
    .game-info button
    {
        height: 5svh;
        width: 65svw;
        font-size: 1em;
        border-radius: 1em;
        background-color: #fff;
    }
}