.header
{
    background-color: #A0153E;
    height: 12.5svh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.game
{
    margin: 0em;
    padding: 4.4svh 1svw 4.4svh 1svw;
    text-decoration: none;
    color: white;
    text-align: center;
}
.game:hover
{
    background-color: #FF204E;
}
.game.home
{
    text-decoration: none;
    color: white;
    font-size: 2em;
    padding: 3.4svh 1svw 3.4svh 1svw;
    font-family: 'ArcadeClassic', sans-serif;
}