.header
{
    background-color: #A0153E;
    height: 12.5svh;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
}
.game
{
    margin: 0em;
    padding: 1em;
    padding-top: 4.4svh;
    padding-bottom: 4.4svh;
    text-decoration: none;
    color: white;
}
.game:hover
{
    background-color: #FF204E;
}
.home
{
    text-decoration: none;
    color: white;
    grid-column: 6;
    font-size: 2em;
    padding-top: 3.4svh;
    padding-bottom: 3.4svh;
    font-family: 'ArcadeClassic', sans-serif;
}