.header
{
    background-color: #A0153E;
    height: 12.5svh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.games
{
    margin: 0em;
    padding: 2.4svh 1svw 2.4svh 1svw;
    width: 20svw;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 4em;
    color: #F23D3D;
    text-shadow: 0em 0em 0.3em #f56884;
    justify-self: center;
}
.games:hover
{
    background-color: #FF204E;
    color: white;
}
@media (width <= 480px)
{
    .games
    {
        width: 50svw;
    }
}