.home-title
{
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 10em;
    color: #F23D3D;
    text-shadow: 0em 0em 0.3em #f56884;
}

@media (width <= 480px)
{
    .home-title
    {
        font-size: 8em;
    }
}