.games-page
{
    display: flex;
    flex-direction: column;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 6em;
}

#games-title
{
    color: white;
    text-decoration: none;
    text-shadow: 0em 0em 0.3em #f56884;
    padding: 1svh 2svw 1svh 2svw;
    justify-self: center;
    text-align: center;
}
#games-title:hover
{
    background-color: #FF204E;
}
@media (width <= 480px)
{
    .games-page
    {
        font-size: 4em;
    }
}